/* ===================== */
/* === COLOR VARIABLES === */
/* ===================== */
:root {
    /* Catppuccin Mocha color palette */
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --og: #c39ff1;

/* Text colors */
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;

/* Overlay colors */
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;

/* Surface colors */
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #282936;

/* Base colors */
    --base: #1e1e2e;
    --mantle: rgba(24, 24, 37, 0.5);
    --crust: rgba(17, 17, 27, 0.75);
}

/* ================= */
/* === BASE STYLES === */
/* ================= */
* {
    font-size: 12px;
    color: var(--subtext0);
    font-weight: 700;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
}

/* ================= */
/* === BAR LAYOUT === */
/* ================= */
.yasb-bar {
    padding: 0;
    margin: 1px 0;
    background: var(--base);
    border-radius: 6px;
}

.power-menu-popup,
.audio-menu,
.disk-group,
.calendar,
.weather-card,
.home-menu {
    background: rgb(24, 24, 37);
    border: 1.5px solid rgba(69, 71, 90, 0.5);
    border-radius: 6px;
}

/* Common widget styles */
.widget {
    padding: 0 2px;
    margin: 0 1.5px;
}

.widget .label {
    padding: 0px 2px;
}

.widget .label.alt {
    padding: 0px 2px;
}

.icon {
    font-size: 16px;
    margin: 0 4px 0 0;
}

/* Icon hover effect */
.power-menu-widget .label:hover,
.battery-widget .icon:hover,
.disk-widget .icon:hover,
.clock-widget .icon:hover,
.weather-widget .icon:hover,
.wifi-widget .icon:hover,
.memory-widget .icon:hover,
.volume-widget .icon:hover,
.libre-monitor-widget .widget-container .icon:hover,
.cpu-widget .icon:hover,
.notification-widget .icon:hover,
.notification-widget .icon.new-notification:hover,
.vscode-widget .widget-container .icon:hover,
.traffic-widget .icon:hover,
.home-widget .icon:hover,
.wallpapers-widget .icon:hover,
.systray .unpinned-visibility-btn:hover,
.launchpad-widget .icon:hover,
.active-window-widget .widget-container .icon:hover
{
    color: rgba(230, 84, 171, 0.903);
}

QPushButton  {
    outline: none
} 

.tooltip {
    background-color: var(--base);
    color: var(--text);
    border: 1px solid var(--og);
    border-radius: 4px;
    font-size: 12px;
}

/* ==================== */
/* === POWER MENU === */
/* ==================== */
.power-menu-widget {
    padding: 0 2px;
    margin-left: 0;
    margin-right: 2px;
    background: transparent;
    border-radius: 6px;
}

.power-menu-widget .label {
    color: var(--red);
    font-size: 13px;
}

.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: var(--base);
    border: 8px solid rgba(58, 59, 83, 0);
    margin: 0;
}

.power-menu-popup .button.hover {
    background-color: var(--crust);
    border: 4px solid var(--og);
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--og);
}

.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--og);
}

.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}

.power-menu-popup .button.cancel .label {
    color: var(--red);
    margin: 0;
}

.power-menu-popup .button.cancel:hover {
    background-color: var(--crust);
    border: 2px solid var(--red);
}

/* ========================= */
/* === MEDIA WIDGET      === */
/* ========================= */
.media-widget {
    background: rgba(0, 0, 0, 0);
    color: var(--text);
    padding: 0;
    max-width: 300px;
    margin: 3px;
    border-radius: 6px;
    border-bottom: 1px solid rgba(177, 140, 225, 0.385);
    border-style: double;
}
.media-widget .label {
    font-size: 14px;
    background-color: transparent;
    margin-left: 6px;
    margin-right: 4px;
    letter-spacing: -1px;
}
.media-widget .btn {
    background: transparent;
    color: var(--og);
    font-family: "Segoe Fluent Icons";
    border: 1px solid var(--og); /* og accent */
    padding: 0 3px;
    margin: 3px 0 3px 4px;
    color: var(--og);
    border-radius: 6px;
    font-size: 12px;
}
.media-widget .btn:hover {
    color: var(--surface0);
    background-color: var(--og);
    border-color: var(--og);
}
.media-widget .btn.disabled,
.media-widget .btn.disabled:hover {
    color: var(--overlay0);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(195, 159, 241, 0.15);
    cursor: not-allowed;
    opacity: 0.7;
}

.media-menu {
    min-width: 420px;
    max-width: 420px;
    background: rgb(24, 24, 37);
    border: 1.5px solid rgba(69, 71, 90, 0.5);
    border-radius: 6px;
    padding: 16px 20px 12px 20px;
    color: var(--text);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    font-family: "JetBrainsMono NFP", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.media-menu .title {
    color: var(--og);
    font-size: 16px;
    margin-bottom: 2px;
}

.media-menu .artist {
    font-size: 13px;
    color: var(--overlay1);
    margin-top: 0px;
    margin-bottom: 8px;
}

.media-menu .source {
    font-size: 11px;
    color: var(--surface0);
    font-weight: normal;
    border-radius: 3px;
    background-color: var(--og);
    color: #fff;
    padding: 2px 6px;
    margin-bottom: 8px;
    margin-left: 0;
    letter-spacing: 0.5px;
}

/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase.
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.firefox {
    background-color: #ff583b;
    color: #ffffff;
}
.media-menu .source.spotify {
    background-color: #199143;
    color: #ffffff;
}
.media-menu .source.edge,
.media-menu .source.windows-media {
    background-color: #0078d4;
    color: #ffffff;
}

.media-menu .btn {
    font-family: "Segoe Fluent Icons";
    font-size: 15px;
    font-weight: 500;
    margin: 6px 2px 0px 2px;
    min-width: 32px;
    max-width: 32px;
    min-height: 28px;
    max-height: 28px;
    border-radius: 8px;
    background: transparent;
    color: var(--og);
    border: 1px solid var(--og);
}

.media-menu .btn.prev {
    margin-left: 8px;
}

.media-menu .btn:hover {
    color: var(--surface0);
    background-color: var(--og);
    border-color: var(--og);
}

.media-menu .btn.play {
    background-color: var(--og);
    color: var(--surface0);
    font-size: 17px;
    border-color: var(--og);
}

.media-menu .btn.disabled,
.media-menu .btn.disabled:hover {
    color: var(--overlay0);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(195, 159, 241, 0.15);
    cursor: not-allowed;
    opacity: 0.7;
}

.media-menu .playback-time {
    font-size: 13px;
    font-family: "JetBrainsMono NFP", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--overlay1);
    margin-top: 20px;
    min-width: 100px;
}

.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
}

.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: rgba(195, 159, 241, 0.3);
}

.media-menu .progress-slider::groove:hover {
    background: rgba(195, 159, 241, 0.5);
    height: 6px;
    border-radius: 3px;
}

.media-menu .progress-slider::sub-page {
    background: var(--og);
    border-radius: 3px;
    height: 4px;
}

.media-menu .app-volume-container {
    background-color: rgba(2, 1, 3, 0.07); /* catppuccin mocha og accent */
    padding: 8px 6px;
    border-radius: 16px;
    margin-left: 10px; 
}
.media-menu .app-volume-container .volume-slider::groove {
    background: rgba(88, 70, 110, 0.18); /* og accent */
    width: 2px;
    border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::add-page {
    background: var(--og);
    border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::groove:hover {
    background: rgba(18, 4, 35, 0.3); /* og accent */
    width:  6px;    
    border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::sub-page {
    background: var(--overlay0);
    border-radius: 3px;
}
.media-menu .app-volume-container .mute-button,
.media-menu .app-volume-container .unmute-button {
    font-size: 16px;
    color: var(--og);
    font-family: "Segoe Fluent Icons";
    margin-top: 4px; 
}
.media-menu .app-volume-container .unmute-button {
    color: var(--overlay1);
}

/* ==================== */
/* === VOLUME WIDGET === */
/* ==================== */
.volume-widget .icon {
    color: var(--blue);
    margin: 1px 2px 0 0;
}

.volume-widget .label {
    font-size: 12px;
    color: var(--subtext0);
    font-weight: 700;
    font-family: "JetBrainsMono NFP";
    background: transparent;
}

.audio-menu {
    background: rgb(24, 24, 37);
    border: 1.5px solid rgba(69, 71, 90, 0.5);
    border-radius: 6px;
    padding: 8px;
    min-width: 220px;
}

.audio-menu .system-volume-container .volume-slider {
    border: none;
    margin-top: 15px;
}

.audio-menu .audio-container .device {
    font-size: 10px;
    background-color: transparent;
    border: none;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
    border-radius: 4px;
}

.audio-menu .audio-container .device.selected {
    background-color: rgba(211, 133, 188, 0.264);
}

.audio-menu .audio-container .device.selected:hover {
    background-color: rgba(211, 133, 188, 0.364);
}

.audio-menu .audio-container .device:hover {
    background-color: rgba(124, 88, 113, 0.264);
}

/* Toggle button for application volumes (if is enabled) */
.audio-menu .toggle-apps {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 15px;
    min-width: 15px;
    border-radius: 6px;
}
.audio-menu .toggle-apps.expanded {
    background-color: transparent;
}
.audio-menu .toggle-apps:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* Container for application volumes (if is enabled) */
.audio-menu .apps-container {
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.062);
}
.audio-menu .apps-container .app-volume .app-icon-container {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 6px;
    margin-right: 5px;
}
.audio-menu .apps-container .app-volume .app-slider {
    min-height: 40px;
    max-height: 40px;
}
.audio-menu .apps-container .app-volume .app-icon-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* ================= */
/* === DISK WIDGET === */
/* ================= */
.disk-widget .icon {
    color: var(--teal);
}

.disk-group-row {
    min-width: 220px;
    max-width: 220px;
    max-height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    border: 1px solid transparent;
}

.disk-group-row:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.disk-group-label-bar {
    max-height: 8px;
    border: 0;
    background-color: var(--surface0);
    border-radius: 4px;
}

.disk-group-label-bar::chunk {
    background-color: var(--og);
    border-radius: 4px;
}

.disk-group-label {
    font-size: 13px;
}

.disk-group-label-size {
    font-size: 12px;
    color: rgba(205, 214, 244, 0.5);
}

/* ================= */
/* === CLOCK WIDGET === */
/* ================= */

.clock-widget .icon {
    font-size: 14px;
    color: var(--green);
}

.clock-widget .label {
    font-size: 14px;
    font-weight: 700;
    color: var(--subtext0);
}

.calendar {
    background: rgb(24, 24, 37);
    border: 1.5px solid rgba(69, 71, 90, 0.5);
    border-radius: 6px;
    padding: 12px;
    color: var(--text);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: transparent;
    color: var(--og);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.calendar .calendar-table::item {
    border-radius: 4px;
}

.calendar .calendar-table::item:hover {
    background-color: var(--pink);
    color: var(--surface0);
}

.calendar .calendar-table::item:selected {
    color: var(--crust);
    background-color: var(--og);
    border-radius: 5px;
    font-weight: 900;
}

.calendar .day-label {
    margin-top: 15px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-size: 16px;
    color: var(--og);
    font-weight: 700;
    min-width: 150px;
    max-width: 180px;
    letter-spacing: 0.5px;
}

.calendar .month-label {
    font-weight: 600;
    color: var(--mauve);
}

.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: var(--og);
    margin-top: -20px;
    letter-spacing: 2px;
}

/* ==================== */
/* === WEATHER WIDGET === */
/* ==================== */
.weather-widget .icon {
    font-size: 20px;
    margin: 0 2px 1px 0;
    color: var(--maroon);
}

.weather-widget .label {
    font-size: 14px;
    color: var(--subtext0);
    font-weight: 700;
    font-family: "JetBrainsMono NFP";
    background: transparent;
}

.weather-card {
    background: rgb(24, 24, 37);
    border: 1.5px solid rgba(69, 71, 90, 0.5);
    border-radius: 6px;
    padding: 12px 16px;
    color: var(--text);
}

.weather-card-today {
    border: 1.5px solid var(--og);
    border-radius: 8px;
    background-color: rgba(195, 159, 241, 0.07);
}
.weather-card-today .label {
    font-size: 13px;
    color: var(--subtext1);
}
.weather-card-today .label.location {
    font-size: 24px;
    font-weight: 900;
    color: var(--og);
    letter-spacing: 1px;
}
.weather-card-today .label.alert {
    font-size: 12px;
    font-weight: 700;
    background-color: rgba(250, 179, 135, 0.10);
    border: 1px solid rgba(250, 179, 135, 0.18);
    color: var(--yellow);
    border-radius: 6px;
    padding: 5px 0;
    margin-top: 6px;
}

.weather-card-day {
    border: 1px solid var(--surface1);
    border-radius: 8px;
    background-color: rgba(195, 159, 241, 0.04);
}
.weather-card-day .label {
    font-size: 12px;
    color: var(--subtext1);
}
.weather-card-day:hover {
    background-color: rgba(195, 159, 241, 0.13);
    border: 1.5px solid var(--og);
}

.weather-card .hourly-container {
    border: 1px solid var(--surface1);
    background-color: rgba(195, 159, 241, 0.04);
    border-radius: 8px;
    color: var(--subtext1);
    min-height: 150px;
}

.weather-card .hourly-data {
    background: var(--og);
    color: var(--subtext1);
    font-size: 12px;
    font-weight: bold;
}

/* ====================== */
/* === WORKSPACE WIDGET === */
/* ====================== */
.glazewm-workspaces {
    background-color: rgba(108, 82, 165, 0.171);
    margin: 4px 4px;
    border-radius: 4px;
    padding: 4px 2px;
}

.glazewm-workspaces .ws-btn {
    font-size: 14px;
    border: none;
    color: var(--overlay2);
    padding: 0 5px;
    cursor: pointer;
}

.glazewm-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn.active_populated:hover {
    background-color: var(--og);
    color: var(--surface0);
    border-radius: 6px;
}

.glazewm-workspaces .ws-btn.empty{
    color: var(--overlay0);
}

.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
    color: var(--red);
    font-weight: 900;
}

/* ================= */
/* === WIFI WIDGET === */
/* ================= */
.wifi-widget .icon {
    color: var(--yellow);
}
.wifi-widget .label {
    font-size: 12px;
    color: var(--subtext0);
    font-weight: 700;
    font-family: "JetBrainsMono NFP";
    background: transparent;
}

.wifi-menu {
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    background-color: var(--crust);
    min-height: 400px;
    min-width: 400px;
}

.wifi-menu .progress-bar {
    max-height: 2px;
    background: var(--surface1);
    border-radius: 4px;
    margin: 6px;
}

.wifi-menu .progress-bar::chunk {
    background-color: var(--og);
}

.wifi-menu .header {
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: var(--mantle);
    color: var(--og);
    border-bottom: 1px solid var(--og);
}

.wifi-menu .error-message {
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    background-color: var(--red);
    color: var(--crust);
}

.wifi-menu .wifi-list {
    background-color: var(--base);
    margin: 0;
}

.wifi-menu .wifi-item {
    min-height: 35px;
    margin: 2px 6px;
    border-radius: 6px;
    padding: 4px 8px;
}

.wifi-menu .wifi-item:hover {
    background-color: rgba(195, 159, 241, 0.10);
}

.wifi-menu .wifi-item[active=true] {
    background-color: rgba(195, 159, 241, 0.18);
    font-size: 14px;
    border-radius: 6px;
    min-height: 80px;
    border: 1.5px solid var(--og);
}

.wifi-menu .wifi-item .icon {
    font-family: 'Segoe Fluent Icons';
    font-size: 26px;
    margin-right: 10px;
    color: var(--og);
}

.wifi-menu .wifi-item .name {
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 14px;
    margin-right: 10px;
    color: var(--text);
}

.wifi-menu .wifi-item .password {
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    background-color: var(--crust);
    font-size: 14px;
    color: var(--subtext1);
    padding: 2px;
}

.wifi-menu .wifi-item .status {
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 14px;
    color: var(--subtext0);
}

.wifi-menu .wifi-item .strength {
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 14px;
    color: var(--og);
}

.wifi-menu .wifi-item .controls-container {
    padding-top: 8px;
}

.wifi-menu .wifi-item .connect {
    padding: 4px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-weight: 700;
}

.wifi-menu .wifi-item .connect:active {
    background-color: var(--crust);
    color: var(--og);
}

.wifi-menu .wifi-item .connect:active:hover{
    background-color: var(--mauve);
    color: var(--surface0);
}

.wifi-menu .footer {
    padding: 12px;
    margin-top: 2px;
    background-color: var(--mantle);
    border-top: 1px solid var(--og);
    border-radius: 0 0 8px 8px;
}

.wifi-menu .footer .settings-button {
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    background-color: transparent;
    border: none;
    padding: 0 2px;
    min-width: 26px;
    min-height: 26px;
    color: var(--og);
    border-radius: 4px;
}

.wifi-menu .footer .settings-button:hover {
    background-color: var(--og);
    color: var(--surface0);
}

.wifi-menu .footer .refresh-icon {
    font-family: 'Segoe Fluent Icons';
    background-color: transparent;
    border: none;
    min-width: 26px;
    min-height: 26px;
    color: var(--og);
    border-radius: 4px;
}

.wifi-menu .footer .refresh-icon:hover {
    background-color: var(--og);
    color: var(--surface0);
}

.context-menu {
    background: var(--base);
    border-radius: 4px;
    border: 1px solid var(--surface1);
    padding: 4px;
}

.context-menu .menu-checkbox {
    border-radius: 3px;
    color: var(--text);
}

.context-menu .menu-checkbox .checkbox {
    margin: 2px;
}

.context-menu::item {
    font-size: 13px;
    color: var(--text);
    background: transparent;
    border: none;
    border-radius: 4px;
    margin: 2px;
}

.context-menu::item:selected,
.context-menu .menu-checkbox:hover,
.context-menu .menu-checkbox .checkbox:hover {
    background: var(--og);
    color: var(--surface0);
}


/* ===================== */
/* === BATTERY WIDGET === */
/* ===================== */
.battery-widget .icon {
    color: var(--flamingo);
}

.battery-widget {
    padding: 0;
    margin: 0 0 0 2px;
    background: transparent;
    border-radius: 6px;
}

.battery-widget .label {
    color: var(--subtext0);
    font-size: 12px;
    font-weight: 700;
    font-family: "JetBrainsMono NFP";
    background: transparent;
}

/* ==================== */
/* === MEMORY WIDGET === */
/* ==================== */
.memory-widget .icon {
    color: var(--red);
}

.memory-widget .label {
    font-size: 12px;
    color: var(--subtext0);
    font-weight: 700;
    font-family: "JetBrainsMono NFP";
    background: transparent;
}

/* ================= */
/* === UPTIME WIDGET === */
/* ================= */
.uptime {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--subtext0);
    font-weight: 600;
}

/* ================= */
/* === HOME WIDGET === */
/* ================= */
.home-widget {
    padding: 0 2px 0 8px;
}

.home-widget .icon {
    font-size: 18px;
    color: var(--subtext1);
}

.home-menu .menu-item {
    padding: 8px 48px 8px 12px;
    font-weight: 600;
    color: var(--text);
}

.home-menu .menu-item:hover {
    background-color: var(--og);
    color: var(--surface0);
    margin: 4px 6px;
    border-radius: 4px;
}

.home-menu .separator {
    max-height: 1px;
    background-color: var(--overlay0);
    margin: 0 8px;
}

/* ================= */
/* === System Tray === */
/* ================= */
.systray {
    background: var(--base);
    background-color: transparent;
    border-radius: 8px;
    margin: 0;
}

.systray .unpinned-container {
    background: #4f539891;
    padding: 0 -2px;
    margin: 5px 0;
    border-radius: 4px;
}

.systray .button {
    border-radius: 6px;
    padding: 0;
    background: transparent;
    color: var(--text);
    margin: 1px 0.5px;
}

.systray .button:hover {
    background: var(--og);
    border-color: var(--lavender);
}

.systray .button[dragging=true] {
    background: var(--sky);
    border: 1.5px solid var(--peach);
    color: var(--surface0);
}

.systray .unpinned-visibility-btn {
    border-radius: 6px;
    background: var(--pink);
    color: var(--crust);
    border: 1px solid transparent;
    margin: 7px 0.5px;
    font-size: 17px;
}

.systray .unpinned-visibility-btn.active {
    background: var(--blue);
    color: var(--crust);
    border-color: var(--blue);
}

/* ================= */
/* === lIBRE SM === */
/* ================= */

.libre-monitor-widget .widget-container .label {
    color: var(--subtext0);
    font-size: 12px;
    font-family: "JetBrainsMono NFP";
    font-weight: 700;
    background: transparent;
}

.libre-monitor-widget .widget-container .icon {
    color: var(--mauve);
    font-size: 16px;
    background: transparent;
}

.libre-menu {
    background: rgb(24, 24, 37);
    border: 1px solid var(--og);
    border-radius: 6px;
    padding: 10px 12px 6px 12px;
    color: var(--og);
    min-width: 260px;
    max-width: 340px;
}

.libre-menu .header {
    font-size: 15px;
    font-weight: 700;
    color: var(--og);
    font-family: "JetBrainsMono NFP", "Segoe UI", sans-serif;
    padding: 4px 0 4px 0;
    margin: 8px 0 4px 0;
    letter-spacing: 0.5px;
    background: transparent;
}

.libre-menu .sensor-item {
    background-color: var(--og);
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid var(--og);
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.libre-menu .sensor-item:last-child {
    margin-bottom: 0;
}

.libre-menu .sensor-item:hover {
    background-color: var(--og);
    border: 1px solid var(--og);
}

.libre-menu .sensor-item:hover .sensor-name,
.libre-menu .sensor-item:hover .sensor-value {
    color: var(--surface0);
}

.libre-menu .sensor-name {
    font-size: 13px;
    font-weight: 600;
    font-family: "JetBrainsMono NFP", "Segoe UI", sans-serif;
    color: var(--surface0);
    flex: 1;
    background: transparent;
}

.libre-menu .sensor-value {
    font-size: 12px;
    font-family: "JetBrainsMono NFP", "Segoe UI", sans-serif;
    font-weight: 700;
    color: var(--surface0);
    min-width: 54px;
    text-align: right;
    background: transparent;
}

/* ============================== */
/* ==== Notification Widget ==== */
/* ============================ */

.notification-widget {
    padding: 0;
    margin-left: -2px;
    margin-right: -2px;
}

.notification-widget .widget-container {
    margin: 0;
}

.notification-widget .icon {
    font-size: 14px;
    color: var(--rosewater);
    margin: 0;
}

.notification-widget .icon.new-notification {
    color: var(--flamingo);
}

/* ======================== */
/* === Traffic Widget === */
/* ===================== */

.traffic-widget {
    padding: 0 0px;
    margin: 0px;
    background: rgb(24, 24, 37);
}

/* ======================= */
/* === VSCode Widget === */
/* ==================== */
.vscode-widget {
    padding: 0;
    background: transparent;
}

.vscode-widget .widget-container .icon {
    color: var(--sapphire);
}

.vscode-menu {
    max-height: 410px;
    min-width: 300px;
}

.vscode-menu .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    color: var(--text);
    background-color: var(--crust);
}

.vscode-menu .contents {
    background-color: var(--base);
}

.vscode-menu .contents .item {
    min-height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.vscode-menu .contents .item .title {
    font-size: 12px;
    margin-right: 5px;
    color: var(--text);
}

.vscode-menu .contents .item .folder-icon {
    font-size: 16px;
    margin-left: 8px;
    color: #89b4fa;
}

.vscode-menu .contents .item .file-icon {
    font-size: 16px;
    margin-left: 8px;
    color: #f5c2e7;
}

.vscode-menu .contents .item:hover {
    background-color: rgba(195, 159, 241, 0.4); 
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

/* ========================= */
/* === Wallpaper Widget === */
/* ======================= */

.wallpapers-widget {
    padding: 0;
    background: transparent;
}

.wallpapers-gallery-window {
    background: var(--base);
    border: 1.5px solid var(--surface1);
    border-radius: 8px;
    margin: 0;
}

.wallpapers-gallery-buttons {
    background: rgba(100, 67, 157, 0.171);
    color: var(--text);
    border: 1px solid var(--og);
    font-size: 13px;
    padding: 10px 0;
    border-radius: 8px;
    margin: 0 10px 14px 10px;
    width: 210px;
}

.wallpapers-gallery-buttons:hover {
    background: var(--og);
    color: var(--surface0);
}

.wallpapers-gallery-image {
    border: 1.5px solid var(--surface1);
    border-radius: 14px;
}

.wallpapers-gallery-image:hover {
    border: 2.5px solid var(--maroon);
}

.wallpapers-gallery-image.focused {
    border: 2px solid var(--og);
}

/* ===================== */
/* === Launchpad === */
/* =================== */

/* Widget style */
.launchpad-widget {
    padding: 0 0 0 6px;
}

.launchpad-widget .icon {
    font-size: 18px;
    color: #a2bbe2;
}

/* Launchpad context menu style */
.launchpad .context-menu {
    background-color: var(--base);
    border: none;
    border-radius: 6px;
    padding: 4px 0px;
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 12px;
    color: var(--text);
    font-weight: 600;
}
.launchpad .context-menu::item {
    background-color: transparent;
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: 4px;
    min-width: 100px;
}
.launchpad .context-menu::item:selected {
    background-color: var(--surface1);
    color: var(--og);
}
.launchpad .context-menu::item:pressed {
    background-color: var(--surface2);
}
.launchpad .context-menu::separator {
    height: 1px;
    background-color: var(--surface1);
    margin: 4px 8px;
}
.launchpad .context-menu::item:disabled {
    color: var(--overlay0);
    background-color: transparent;
}

/* Launchpad App dialog style */
.launchpad .app-dialog {
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    background-color: var(--mantle);
}
.launchpad .app-dialog .buttons-container {
    background-color: var(--crust);
    margin-top: 16px;
    border-top: 1px solid var(--surface1);
    max-height: 80px;
    min-height: 80px;
    padding: 0 20px 0 20px;
}
.launchpad .app-dialog .message {
    color: var(--text);
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0;
}
.launchpad .app-dialog .title-field,
.launchpad .app-dialog .path-field,
.launchpad .app-dialog .icon-field {
    background-color: var(--surface0);
    border: 1px solid var(--surface1);
    border-radius: 4px;
    padding: 0 6px;
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--text);
    margin: 10px 0px 5px 0;
    min-height: 30px;
}
.launchpad .app-dialog .title-field:focus,
.launchpad .app-dialog .path-field:focus,
.launchpad .app-dialog .icon-field:focus {
    border-bottom-color: var(--og);
}
.launchpad .app-dialog .button {
    background-color: var(--surface1);
    border: none;
    border-radius: 4px;
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--text);
    min-width: 80px;
    padding: 0 6px;
    margin: 10px 0 5px 6px;
    min-height: 28px;
    outline: none;
}
.launchpad .app-dialog .buttons-container .button {
    margin: 10px 0 5px 0px;
    font-size: 13px;
}
.launchpad .app-dialog .button:focus {
    border: 2px solid var(--og);
}
.launchpad .app-dialog .button:focus,
.launchpad .app-dialog .button:hover {
    background-color: var(--og);
    color: var(--surface0);
}
.launchpad .app-dialog .button:pressed {
    background-color: var(--surface2);
}
.launchpad .app-dialog .button.add,
.launchpad .app-dialog .button.save {
    background-color: var(--blue);
    color: var(--surface0);
}
.launchpad .app-dialog .button.add:focus,
.launchpad .app-dialog .button.save:focus,
.launchpad .app-dialog .button.add:hover,
.launchpad .app-dialog .button.save:hover {
    background-color: var(--sapphire);
    color: var(--surface0);
}
.launchpad .app-dialog .button.add:pressed,
.launchpad .app-dialog .button.save:pressed {
    background-color: var(--og);
    color: var(--surface0);
}
.launchpad .app-dialog .button.delete {
    background-color: var(--red);
    color: var(--surface0);
}
.launchpad .app-dialog .button.delete:focus,
.launchpad .app-dialog .button.delete:hover {
    background-color: var(--maroon);
    color: var(--surface0);
}
.launchpad .app-dialog .button.delete:pressed {
    background-color: var(--flamingo);
    color: var(--surface0);
}
.launchpad .app-dialog .warning-message {
    background-color: rgba(243, 139, 168, 0.12);
    border: 1px solid var(--flamingo);
    border-radius: 4px;
    color: var(--flamingo);
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 4px 0px;
}
/* Launchpad popup style */
.launchpad .drop-overlay {
    background-color: rgba(30, 30, 46, 0.8);
    border: 4px dashed var(--blue);
}
.launchpad .drop-overlay .text {
    color: var(--og);
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 64px;
    font-weight: 600;
}
.launchpad .launchpad-container {
    background-color: rgba(30, 30, 46, 0.8);
}
.launchpad .search-container {
    min-height: 80px;
    margin: 0;
    padding: 0;
}
.launchpad .search-input {
    max-width: 400px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 24px;
    max-height: 24px;
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    border-radius: 20px;
    border: 2px solid var(--surface2);
    background-color: var(--crust);
    color: var(--subtext0);
}
.launchpad .search-input:focus  {
    border: 2px solid var(--blue);
    background-color: rgba(255, 255, 255, 0.05);
}
.launchpad .launchpad-scroll-area {
    background-color: transparent;
    border: none;

}
.launchpad .app-icon {
    background-color: rgba(195, 159, 241, 0.03);
    border-radius: 12px;
    border: 2px solid rgba(195, 159, 241, 0);
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 24px 6px 6px 6px;
    max-width: 130px;
    min-width: 130px;
    min-height: 90px;
}
.launchpad .app-icon:focus {
    border: 2px solid var(--og);
    background-color: rgba(195, 159, 241, 0.13);
}
.launchpad .app-icon:hover {
    border: 2px solid var(--og);
    background-color: rgba(195, 159, 241, 0.18);
}
.launchpad .app-icon .title {
    color: var(--subtext0);
    font-family: 'JetBrainsMono NFP', 'Segoe UI', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 600;
}
/* App icon .launchpad .app-icon or URL icon .launchpad .app-icon.url */
.launchpad .app-icon.url .title{
    color: var(--teal);
}
.launchpad .app-icon .icon {
    padding: 0;
    margin: 0;
}